
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
        margin-left: 20px;
    }

    .section-title{
        margin-top: 30px;
    }
}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .our-features{
        margin-left: 50px auto;
    }
}