@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
     font-family: "Work Sans", sans-serif;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1240px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    margin-bottom: 24px;
}
/* header styles */
 
/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.brand{
    font-weight: bold;
    font-size: 2.8rem; 
    margin-top: 50px;
}

.nav-links{
    list-style: none;
}

.nav-item{
    margin-right: 30px;
    margin-top: 50px;
}

li a{
    text-decoration: none;
}



.navbar, .banner{
    max-width: 1240px;
    margin: 0 auto;
}

/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4rem;
}

.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-top: 110px;
    margin-bottom: 30px;
}

.banner-desc{
    font-size: 1rem;
    margin-bottom: 30px;
}

.banner-img{
    width: 100%;
    margin: 0 auto;
}

/* teams and feature related styles */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1170px;
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}

.feature-desc{
    margin-bottom: 32px;
}

#quick-list{
    font-weight: 500;
}

/* Features related styles */
.features{
    gap: 140px;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.section-desc{
    margin-bottom: 30px;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -80px;
    margin-top: -120px;
}

#experience-year{
    font-size: 4rem;
    font-weight: bold;
}

.feature-architect img{
     width: 700px;
    height: 981px; 
     
}
/* some card related styles */
.cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-desc{
    margin-bottom: 100px;
    font-size: 1rem;
    max-width: 540px;
}

.card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* sponsors related */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

/* footer styles */
footer{
    
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 130px;
   
}

.footer-desc{
   background-color: rgba(255, 144, 14, 0.1);
    padding: 35px 300px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 8px;
}

